body{
background-color: white;

}

.header{
    background-color: white;
    margin: auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 10px;
    height: 50px;
    padding: 20px 0px;
}

.h1{
    border: 20px;
    background-color: #4aaaa5;
    color: white;
    margin: -19px 150px;
    padding: 20px;
    float: left;
    height: 48px;
}

.About{
    float: left;
    margin-left: 25%;
    margin-top: -5px;
}

.Portfolio{
    float: left;
    margin-left: 5%;
    margin-top: -5px;
}

.Contact{
    float: left;
    margin-left: 5%;
    margin-top: -5px;
}

p{
    color: lightgray;

}